body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
    text-align:center;
}

header{
    background:#222;
    padding:20px;
    text-align:center;
}

nav{
    background:darkgray;
    padding:10px;
    text-align: center;
    color:black;
}


nav ul {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    gap:10px;
    justify-content:center; 
}

nav a{
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    background-color: grey;
    border-radius: 10px;
}


nav a.active {
    background-color: #800000;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #555;
    transform: scale(1.05);
    transition: all 0.3s;
}


main{
    padding:20px;
    background:#1a1a1a;
    margin:20px auto; 
}

section{
    background:#222;
    padding:15px;
    margin-bottom:15px;
    border-radius:8px;
}

aside{
    background:#222;
    padding:15px;
    margin:20px auto; 
    border-radius:8px;
    border: 1px solid lightgray;
}

footer{
        text-align:center;
        padding:15px;
        background:#333;
        margin-top:20px;
}


img{
    width:80px;  
    height:auto;
    display:block;
    margin:8px auto;
    border-radius:8px;
}

img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}

table{
    text-align: center;
}

table image{
    width:50px;
    height: auto;
    height:auto;
}

